.header{
    background-color: var(--primary-color);
}
.aboutUsLink{
    margin-right: 20%;
}
.logo{
    max-width: 30vw;
}

@media(max-width: 992px){
    .header{
        background-color: transparent;
        position: absolute;
        top:0;
    }
}

@media(max-width: 576px){
    .aboutUsLink{
        margin-right: 5%;
    }
    .aboutUsLink >*{
        font-size: .9rem;
    }
}